<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">PayLink Challenge</span>
  </div>
</nav>


<div class="card">
  <h5 class="card-header">FizzBuzz</h5>
  <div class="card-body">
    <button type="button" class="btn btn-secondary" (click)="findDiv()">See Results</button>
  </div>
</div>


<span *ngIf="hidden == false">{{ arr }}</span>


<div class="card">
  <h5 class="card-header">Fibonacci</h5>
  <div class="card-body">
    <h6>Enter Fibonacci number :</h6>
    <input type="number" #box (keyup)="getNthFib(box.value)">


  </div>
</div>
<span *ngIf="fibHidden == false">{{ fib_number }}</span>

<div class="card">
  <h5 class="card-header">MagicGetterSetter</h5>
  <div class="card-body">
    <p>See app.component.ts for Challenge 3</p>
  </div>
</div>

<router-outlet></router-outlet>